export VAULT_ADDR=https://vault.grandlabs.com:443
export VAULT_TOKEN=root
export VAULT_SSL_TRUST_STORE=file:../observability/.certs/mkcert-truststore.p12
export VAULT_SSL_TRUST_STORE_PASSWORD=changeit

export VAULT_ROLE_ID=change-me
export VAULT_SECRET_ID=change-me

export POSTGRES_HOST=pg.grandlabs.dev
export POSTGRES_PORT=5432
export POSTGRES_DB=grandlabs_dev
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=change-me-local-postgres-password
